<!doctype html>
<html>
  <head>
    <title>{{event.long_name}}</title>
    <meta charset="utf-8">
    <meta name="description" content="Sníh Osudovkám skvěle nahrává do karet. Ve sněhu se dají hrát skvělé hry nebo skvěle ležet po vypití sudu piva. Tolik možností! Jenže všichni moc dobře víme, že v Praze sníh stojí pěkně za kočku. A tak pojedeme někam do přírody!">
    <meta name="keywords" content="Osudové hry, Osudovky, Zimní osudové hry">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{event.long_name}}">
    <meta property="og:description" content="Sníh Osudovkám skvěle nahrává do karet. Ve sněhu se dají hrát skvělé hry nebo skvěle ležet po vypití sudu piva. Tolik možností! Jenže všichni moc dobře víme, že v Praze sníh stojí pěkně za kočku. A tak pojedeme někam do přírody!">
    <meta property="og:url" content="http://zimni.osudovehry.cz">
    <meta property="og:image" content="http://zimni.osudovehry.cz/opengraph.jpg">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
  </head>
  <body>
      <!-- Running osudovehry-app instance, event={{event.name}}, theme={{theme}} -->
