.about {
  background: #f5f5f5;
}

.about h2 {
  font-size: 1.2em;
  color: #777;
  padding-top: 2em;
}

.about-photos-list {
  list-style: none;
  padding: 0;
}

.about-photos-list li {
  display: inline-block;
  margin: .2em;
}
