footer {
  padding: 4em 0;
  height: 10em;
  font-size: .8em;
  color: #777;
  line-height: 1.8;
}

.footer-col {
  float: left;
  width: 50%;

  @media #{$mobile} {
    float: none;
    width: 100%;
    padding: 1em 0;
    text-align: center !important;
  }
}

.footer-col--right {
  text-align: right;
}
