.registration:after {
  content: '';
  clear: both;
  display: block;
}

.registration-form {
  width: 50%;
  float: left;
  padding: 1em 4em 0 2em;
  text-align: left;
  margin-top: 3em;

  label {
    display: block;
    color: #999;
    font-size: .7em;
    font-weight: bold;
    padding: .5rem .75rem;
    cursor: pointer;
  }

  input[type=text] {
    padding: .5rem .75rem;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: .5em;
    margin-bottom: 1.25em;
  }

  input[type=checkbox] {
    float: left;
    margin: .5rem .75rem;
  }

  button {
    background: #498FB3;
    display: block;
    border: 2px solid #498FB3;
    padding: .6em 1.4em;
    border-radius: .4em;
    color: white;
    font-size: 1.05em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin: 2em auto;
    cursor: pointer;

    &:hover {
      background: white;
      color: #498FB3;
    }
  }

  @media #{$mobile} {
    width: 100%;
    float: none;
    padding: 0;
  }
}

.registration-instructions {
  width: 50%;
  float: right;
  padding: 0 0 0 4em;
  font-size: 0.9em;
  text-align: left;
  margin-top: 3em;
  border-left: 1px solid rgba(black, .2);

  h2 {
    color: #777;
    font-size: 1.2em;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding: .2em 0;
    line-height: 1.7;
  }

  .registration-instructions-list-price {
    display: block;
    padding: .2em 0;
    color: #444;
    font-size: 1.4em;
  }

  .registration-instructions-capacity {
    text-align: center;
    font-size: 1.1em;
  }

  .registration-instructions-capacity-bar {
    width: 25%;
    margin: .45em auto;
    background: #ccc;
    height: .25em;
    border-radius: .25em;
  }

  .registration-instructions-capacity-bar-inner {
    width: 100%;
    position: relative;
    top: .075em;
    background: #498FB3;
    height: .10em;
    border-radius: .25em;
  }

  @media #{$mobile} {
    width: 100%;
    float: none;
    padding: 0;
    border: none;
  }
}

.registration-confirmation {
  width: 50%;
  float: left;
  padding: 1em 4em 0 2em;
  margin-top: 3em;

  @media #{$mobile} {
    width: 100%;
    float: none;
    padding: 0;
  }
}

.registration-confirmation-processing {
  font-size: 1.4em;
  padding: 6em 0;

  @keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: .2; }
    100% { opacity: 1; }
  }

  .registration-confirmation-processing-progress {
    animation: pulse 2s infinite linear;
  }

  .registration-confirmation-processing-sssh {
    color: gray;
    padding: 2em;
    font-size: .6em;
  }
}

.registration-confirmation-processed {

  .registration-confirmation-processed-tick {
    color: #6ba239;
    font-size: 5em;
    padding-bottom: .5em;
  }

  .registration-confirmation-processed-payment {
    background: #fafafa;
    padding: 2em 1em;

    input:hover {
      opacity: .5;
    }
  }

  .registration-confirmation-processed-payment-or {
    color: gray;
    font-size: .8;
    padding: 1em 0;
  }

  ul {
    list-style: none;
    padding: 0 2em;
    margin: 0;
    text-align: left;
    line-height: 1.7;
  }

  dt, dd {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  dt {
    width: 10em;
    font-size: .8em;
    font-weight: bold;
  }

  dd {
    font-size: .95em;
  }

  .registration-confirmation-processed-cash {
    padding: 0 2em;
    font-size: .75em;
    color: #777;
  }

  .registration-confirmation-processed-thanks {
    padding: 1em 0;
    font-size: 1.2em;
  }
}

.registration-confirmation-error {
  padding: 4em;
  color: #b03b24;
  line-height: 1.7;
}

.registration-closed {
  font-style: italic;
  font-size: 1.2em;
  padding: 4em;

  &:before {
    content: '';
    display: table;
    clear: both;
  }
}
